* {
  padding: 0;
  margin: 0;
}

header {
  background-color: var(--cur-color);
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: "i f";
  margin-bottom: 30px;
  box-shadow: 0px 5px 5px var(--ter-color);
}

.header-i{
  display: grid;
  grid-area: i;
  grid-template-columns: 10% 90%;
  grid-template-areas: "logo list";
}

.logo{
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list{
  grid-area: list;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
}

.header-f {
  display: grid;
  grid-area: f;
  grid-template-columns: 90% 10%;
  grid-template-areas: ". icon";
}

.nav-list li {
  margin-right: 5%;
}

.nav-list li a {
  text-decoration: none;
}

.enlace-list {
  list-style: none;
}

.user-list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 10px;
}
.user-list div{
  margin-left: 10px;
}

li .enlace {
  pointer-events: auto;
  text-decoration: none;
  color: var(--pri-color);
}

.nav-list li a:hover {
  color: var(--pri-hover);
}

.user {
  grid-area: icon;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user svg{
  height: 35px;
  width: 35px;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
}

.enlace-desac {
  color: var(--pri-hover) !important;
  pointer-events: none;
  cursor: default;
}

.desac {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

.menu-user {
  z-index: 3;
  position: fixed;
  height: 100%;
  width: 30%;
  background-color: var(--cur-color);
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.menu-user .icon {
  margin: 10px;
}

.menu-user-shadow {
  z-index: 2;
  position: fixed;
  height: 100%;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}
