
.eti-act{
  width: 100%;
  margin: 0.5mm 0 0.5mm 0;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 10px;
}

.etiquetas {
  margin: 20px 0 20px 0;
}

.card {
  margin: 20px;
  background-color: var(--pri-color);
  border-color: var(--cur-color);
}

