<form [formGroup]="formRegister" (submit)="send()">
  <div>
    <label for="usuario">usuario</label>
    <input type="text" formControlName="usuario" id="usuario">
  </div>
  <div>
    <label for="nombre">nombre</label>
    <input type="text" formControlName="nombre" id="nombre">
  </div>
  <div>
    <label for="correo">correo</label>
    <input type="text" formControlName="correo" id="correo">
  </div>
  <div>
    <label for="password">password</label>
    <input type="text" formControlName="password" id="password">
  </div>
  <div>
    <button>Send</button>
  </div>
  <div>
    {{formRegister.valid | json}}
  </div>
</form>
